<div class="login">
  <div class="card">
    <div class="card-block">
      <h2 class="shift-left">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group shift-left" >
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true,autocomplete: "email", class: 'form-control textbox-width', required: true %>
        </div>

        <div class="form-group shift-left">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: 'form-control textbox-width', required: true %>
        </div>

        <div class="field shift-left">
          <%= f.label :password %>
           <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control textbox-width', required: true%>
        </div>

        <div class="field shift-left">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control textbox-width',required: true %></br>
        </div>

        <div class="actions shift-left">
          <%= f.submit "Sign up",class: 'btn btn-primary' %>
        </div>
        <%= render "devise/shared/error_messages", resource: resource %>
      <% end %></div></br>
    </div>
  </div>
</div>