<div class="<%= location %>">
  <div><%= link_to "Home",root_path%></div>
  <div><%= link_to "About",pages_about_url%></div>
  <div><%= link_to "Contact",pages_contact_url%></div>
  <div><%= link_to "Notes",notes_path%></div>
</div>
